:root {
  --accent-color: #2196f3;
  --primary-fond-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
}
body {
  font-family: var(--primary-fond-family);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}
.accent {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #070606;
}
/*Список навигации*/

.nav-list-link {
  font-family: var(--primary-fond-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}

.list-nav-list :hover {
  color: var(--accent-color);
}
.list-nav-list :focus {
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-link :link {
  color: #757575;
}
.header-link :hover {
  color: var(--accent-color);
}
.header-link :focus {
  color: var(--accent-color);
}
.main-header {
  background-color: #2f303a;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.mod-btn {
  font-family: var(--primary-fond-family);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.mod-btn:hover,
.mod-btn:focus {
  background: var(--accent-color);
}

.menu-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

/*======Kоманда=======*/
.menu-about {
  background-color: #f5f4fa;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.options-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #757575;
}

.menu-about-team {
  font-family: var(--primary-fond-family);
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: #212121;
}

.end-page {
  position: absolute;
  height: 150px;
  width: 1500px;
  background: #2f303a;
}
.header-link-down {
  font-family: var(--primary-fond-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.header-link-down :link {
  color: rgba(255, 255, 255, 0.6);
}
.header-link-down :hover {
  color: var(--accent-color);
}
.header-link-down :focus {
  color: var(--accent-color);
}
.contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.mod-button {
  font-family: inherit;
  background: #f5f4fa;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  cursor: pointer;
}

.mod-button:hover {
  font-family: inherit;
  color: white;
  background: var(--accent-color);
}

.end-page2 {
  position: absolute;
  height: 150px;
  width: 1500px;
  background: #2f303a;
}
.logo2 {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.accent-down {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.pictures-ithem {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
}
.pictures-ithem {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: #757575;
}
