:root {
  --primary-fond-family: sans-serif;
  --secondary-font-family: ;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #2196f3;
}
.accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #212121;
}
.nav-list-link {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}
.list-nav-list :hover {
  color: #2196f3;
}
.list-nav-list :focus {
  color: #2196f3;
}
.header-link {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-link :link {
  color: #4d4545;
}
.header-link :hover {
  color: #2196f3;
}
.header-link :focus {
  color: #2196f3;
}
.main-header {
  background-color: #2f303a;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.mod-btn {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fcfcfc;
  padding: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.mod-btn :hover {
  color: #2196f3;
}
.mod-btn :focus {
  color: #2196f3;
}
.menu-list {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.options-list {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #757575;
}
.menu-about {
  background-color: #f5f4fa;
  font-family: Roboto, sans-serif;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.end-page {
  position: absolute;
  height: 150px;
  width: 1500px;
  background: #2f303a;
}
.contact {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #ffffff;
}
